<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #customers td,
      #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      #customers tr:hover {
        background-color: #ddd;
      }

      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
      }
      .link {
        text-decoration: none;
        color: aliceblue;
        width: 150px;
        height: 50px;
        margin: 50px auto;
        background: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Order Table</h1>
    <table id="customers">
      <thead>
        <tr>
          <th>Customer Id</th>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.Orders.length >0 ){ %><% data.Orders.map((data)=> { %>
        <tr>
          <td><%= data.customer_id %></td>
          <td><%= data.product_id %></td>
          <td><%= data.product_name %></td>
          <td><%= data.quantity %></td>
        </tr>
        <% })} else { %>
        <p>Please Add Data</p>
        <%}%>
      </tbody>
    </table>

    <h1>Customer Table</h1>
    <table id="customers">
      <thead>
        <tr>
          <th>Customer Id</th>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.Customers.length >0 ){ %><% data.Customers.map((data)=> { %>
        <tr>
          <td><%= data._id %></td>
          <td><%= data.customer_name %></td>
          <td><%= data.email %></td>
          <td><%= data.balance %></td>
        </tr>
        <% })} else { %>
        <p>Please Add Data</p>
        <%}%>
      </tbody>
    </table>

    <h1>Product Table</h1>
    <table id="customers">
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Type</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Available Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.Products.length >0 ){ %><% data.Products.map((data)=> { %>
        <tr>
          <td><%= data._id %></td>
          <td><%= data.product_type %></td>
          <td><%= data.product_name %></td>
          <td><%= data.product_price %></td>
          <td><%= data.available_quantity %></td>
        </tr>
        <% })} else { %>
        <p>Please Add Data</p>
        <%} %>
      </tbody>
    </table>
    <a class="link" href="/form">Orders</a>
  </body>
</html>
